* {
    font-family: 'Roboto', sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 2;
}

nav {
    
    height: 50px;
    background: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 12px 70px;
    margin: 0;
    list-style: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 30px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 87px;
    background: rgba(0, 0, 0, 0.6);
    mix-blend-mode: normal;
    z-index: 1;
}

div.title_text{
    font-weight: 100;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 6px;
}

.subheader .subheader_logo{
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_call {
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
    margin-top: 19px;
}

.subheader .subheader_phone {
    display: block;
    font-weight: 400;
    font-size: 22px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
    min-height: 800px;
    background: url(../img/bg.jfif) center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 60px;
    margin: 0;
}

.promo .promo_subheader {
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
}

.promo .promo_descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.reasons {
    margin-top: 71px;
}

.reasons_pluses {
    margin: 0 auto 0 auto;
    width: 115px;
    height: 27px;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: #FFFFFF;
}

.reasons_header {
    margin-top: 33px;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    
    color: #222222;
}

.reasons .round_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1EACC7;
    width: 116px;
    height: 116px;
    border-radius: 100%;
}

.reasons .round_icon .reasons_icon{
    width: 80px;
    height: 66px;
}

.reasons_flex {
    display: flex;
    margin-top: 26px;
    padding: 0 35px;
}

.reasons .reasons_descr {
    width: 100%; 
    margin-left: 25px;
    font-size: 15px;
    font-weight: 300;
    color: #202020;
}

.reasons .reasons_descr .header{
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    color: #1eacc7;
}